<form action="/favourites" method="post">
    <button type="submit" class="font font-medium">
        Add to favourites
    </button>
    <input type="hidden" name="_id" value="<%= home._id %>">
</form>