<%- include('../partials/head') %>
    </head>

    <body class="bg-white min-h-screen text-neutral-800 font-sans">

        <%- include('../partials/nav', {user: user}) %>

        <header class="text-center mb-8">
          <h1 class="text-4xl font-semibold text-[#FF385C]">Your Bookings :</h1>
        </header>
            
    </body>