<%- include('../partials/head') %>
    </head>

    <body class="bg-white min-h-screen text-neutral-800 font-sans">

        <%- include('../partials/nav') %>

        <h2><%= home.homeName %></h2>
   
    </body>